{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'combat/style.css' %}">

{% if initiative_order %}
    <ul>
    {% for character in initiative_order %}
        <fieldset>
            <legend><a id="character" href="{% url 'combat:detail' character.id %}">{{ character.name }}</a></legend> 
            <ul id="stats">
            <li>AC: {{ character.armorclass }}</li>
            <li>HP: {{ character.hitpoints }}</li>
            <li>IN: {{ character.initiative }}</li>
            <li>PP: {{ character.perception }}</li>
            </ul>
        </fieldset>
    {% endfor %}
    </ul>
{% else %}
    <p>No characters exist.</p>
{% endif %}
<ul id="links">
<li><a id="links" href="{% url 'combat:new' %}">ADD NEW CHARACTER</a></li>
<li><a id="links" href="{% url 'combat:archive' %}">ARCHIVE</a></li>
</ul>
